@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    padding: 0; 
    font-family: 'Open Sans', sans-serif;

    background-image: url(../arquivos/Yosemite.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.perfil{
    display: none;
    width: 350px;
    height: 450px;
    background: #FFFFFF;
    margin: auto;
    margin-top: 10%;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.perfil2 img{
    width: 100px;
}
.perfil2{
    margin-top: 10%;
    text-align: center;
    /*background: #211438;*/
}

.aceso{
    margin: 10px;
    color: white;
    cursor: pointer;
}
.aceso h4{
    padding: 5px;
    background: #211438;
    border-radius: 10px;
}

.menu img{
    width: 30px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 10px;
}

.menu img:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.menu{
    background: #121212;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    z-index: 100;
}

.fecha{
    cursor: pointer;
}

.maisTres h3{
    margin-top: -5px;
}
.maisTres p{
    margin-top: -5px;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
}
.maisTres p:hover{
    background: rgba(0, 0, 0, 0.233);
}

.mais{
    display: block;
    background: #ffffff10;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.318);
    margin: auto;
    margin-top: 5%;
    z-index: 10;
    width: 450px;
    /*height: 200px;*/
    padding: 5px;
    border-radius: 10px;
    color: #ffffff;
}

.maisDois{
   /* background: red;*/
}
.fotos{
    border-top: 2px solid rgba(255, 255, 255, 0.521);
    padding-top: 5px;
}
.perfilInicio img{
    margin-left: 10px;
    margin-right: 10px;
}

.perfilInicio{
    display: flex;
    align-items: center;
    /*background: blue;*/
    border-bottom: 2px solid rgba(255, 255, 255, 0.487);
}

#btn-mobile{
    margin: 10px;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 15px;
    border: none;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.463);
}

.select{
    text-align: center;
    border-bottom: 2px solid white;
}

.swiper {
    width: 240px;
    height: 320px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }

  .swiper-slide:nth-child(1n) {
    background-image: url(../arquivos/fotos/foto01.jpg);
    background-size: cover;
    background-position: center;
  }

  .swiper-slide:nth-child(2n) {
    background-image: url(../arquivos/fotos/foto02.jpg);
    background-size: cover;
    background-position: center;
  }

  .swiper-slide:nth-child(3n) {
    background-image: url(../arquivos/fotos/foto03.jpg);
    background-size: cover;
    background-position: center;
  }

  .swiper-slide:nth-child(4n) {
    background-image: url(../arquivos/fotos/foto04.jpg);
    background-size: cover;
    background-position: center;
  }

  .swiper-slide:nth-child(5n) {
    background-image: url(../arquivos/fotos/foto05.jpg);
    background-size: cover;
    background-position: center;
  }

  .swiper-slide:nth-child(6n) {
    background-image: url(../arquivos/fotos/foto06.jpg);
    background-size: cover;
    background-position: center;
  }

  .swiper-slide:nth-child(7n) {
    background-image: url(../arquivos/fotos/foto07.jpg);
    background-size: cover;
    background-position: center;
  }

  .swiper-slide:nth-child(8n) {
    background-image: url(../arquivos/fotos/foto08.jpg);
    background-size: cover;
    background-position: center;
  }

  .swiper-slide:nth-child(9n) {
    background-image: url(../arquivos/fotos/foto09.jpg);
    background-size: cover;
    background-position: center;
  }

  .swiper-slide:nth-child(10n) {
    background-image: url(../arquivos/fotos/foto10.jpg);
    background-size: cover;
    background-position: center;
  }

  .canal img{
    width: 50px;
  }

  .canal{
    width: auto;
    background: #0085ff;
    margin: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.463);
    cursor: pointer;
  }

@media(max-width: 600px){

    .perfil{
        width: auto;
        height: 350px;
        background: #FFFFFF;
        margin: 10px;
        margin-top: 20%;
        padding: 5px;
        align-items: center;
        border-radius: 5px;
        filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    }

    .mais{
      width: auto;
      margin: 14px;
    }
    /*.swiper {
      width: 140px;
      height: 220px;
    }*/

    .masDois{
        overflow: scroll;
    }

}